<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="com.antOnFire.push-enabled"
      version="0.1">

    <name>Check if push enabled on a device</name>
    <description>Push status plugin for cordova by antOnFire</description>
    <license>MIT</license>
    <keywords>push, access</keywords>

    <js-module src="www/PushEnabled.js" name="PushEnabled">
      <clobbers target="PushEnabled" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="PushEnabled">
                <param name="ios-package" value="PushEnabled" />
            </feature>
        </config-file>

        <header-file src="src/ios/PushEnabled.h" />
        <source-file src="src/ios/PushEnabled.m" />
    </platform>

</plugin>
